<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{_layout.html}">

<body>


          <div layout:fragment="breadcrumb">
                        
            <div class="page-header">
                            
                <nav class="breadcrumb-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/loan">Menu</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span>Loans</span></li>
                    </ol>
                </nav>

            </div>

        </div>
        
        <!--  BEGIN CONTENT AREA  -->
        
            <div layout:fragment="content">
                
            </div>
         
        <!--  END CONTENT AREA  -->
 

</body>
</html>